body {
  height: 100vh;
  margin: 0;
}
header {
  min-height: 50px;
}
footer {
  min-height: 50px;
}

/* Footer trick */
body {
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  color: lightcyan;
}

footer {
  margin-top: auto;
}

/* - End footer trick - */

.marx {
  color: #fa2fbd;
}

.dot {
  color: #fff01f;
}

.club {
  color: #3cfa92;
}
