@import url("/reset.css");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

body {
  height: 100vh;
  margin: 0;
}
header {
  min-height: 50px;
}
footer {
  min-height: 50px;
}

/* Footer trick */
body {
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  color: lightcyan;
}

footer {
  margin-top: auto;
}

/* - End footer trick - */

.marx {
  color: #fa2fbd;
}

.dot {
  color: #fff01f;
}

.club {
  color: #3cfa92;
}

h1 {
  text-align: center;
  font-family: "Bowlby One SC", cursive;
  font-size: 15vw;
  animation: growText 1s;
}

@keyframes growText {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
